﻿@model IEnumerable<MySolution.Models.Country>

@{
    ViewBag.Title = "Countries";
    var coun = Model.ToList<MySolution.Models.Country>();
}
<div id="content">
    <h3>
        List of countries  @Html.ActionLink("New", "CreateCountry", new { }, new { @class = "btn btn-success", @type = "button" })
    </h3>
    <div id="list-of-country">
        <table class="table table-hover table-bordered ">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Capital</td>

                    <td></td>
                </tr>
            </thead>
            <tbody>
                @{
                    for (int i = 0; i < coun.Count; i++)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@coun[i].Name</td>
                            <td>@coun[i].Capital</td>
                            <td >
                                <div class="btn-group" role="group" aria-label="...">
                                    @Html.ActionLink("Edit", "EditCountry", new { id = coun[i].Id }, new { @class = "btn btn-default btn-xs", @type = "button" })
                                    @Html.ActionLink("Delete", "DeleteCountry", new { id = coun[i].Id }, new { @class = "btn btn-danger btn-xs", @type = "button" })
                                    @Html.ActionLink("Detail", "DetailsCountry", new { id = coun[i].Id }, new { @class = "btn btn-info btn-xs", @type = "button" })
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>